body{
    background-image: url('../pictures/car1.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.form-container {
  max-width: 700px;
  margin: 30px;
  background-color: #313131;
  padding: 30px;
  border-left: 5px solid #8ea38d;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
}

.heading {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.input {
  color: #f8f8f8;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid #8ea38d;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #444744;
  font-family: 'Raleway', sans-serif;
  color: #8ea38d;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid #8ea38d;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: #8ea38d;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  color: #444744;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  background-color: #444744;
  color: #8ea38d;
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #8ea38d);
  font-family: 'Raleway', sans-serif;
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #8ea38d;
  font-weight: bold;
  background: #444744;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
  transition: all 0.4s ease-in-out;
}

.form-container
  .form
  .button-container
  .reset-button-container
  .reset-button:hover {
  background: #8ea38d;
  color: #444744;
}