body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #535353 0%, #b0b8ac 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.login {
  max-width: 1200px;
  margin: auto;
  background-color: #313131;
  padding: 30px;
  border-left: 5px solid #8ea38d;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
}

.title {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}

input {
  border: 1px solid rgb(83, 83, 83);
  font-size: 90px;
  font-family: "Raleway", sans-serif;
  width: 80%;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.555);
  padding: 10px;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
  background-color: #b0b8ac;
}

p {
  color: #8ea38d;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem; /* Modificat pentru a fi lizibil pe toate dispozitivele */
  margin-bottom: 5px; /* Spațiu redus pentru un aspect mai compact */
}

button {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  background-color: #b0b8ac;
  border: 3px solid #313131;
  color: #313131;
  width: 200px; /* Lățime fixă pentru un control mai bun al aspectului */
  height: 50px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

button:hover {
  background-color: #535353;
  border-color: #535353;
  color: #cbd4c7;
}

.signup-section {
  text-align: center;
  margin-top: 20px; /* Spațiu adăugat pentru separare clară de restul formularului */
}

.button-container {
  display: flex;
  justify-content: space-between; /* Distribuie spațiu între butoane */
  align-items: center; /* Centrare verticală a elementelor */
  width: 100%; /* Utilizează întreaga lățime disponibilă */
  margin-top: 20px; /* Separare de câmpurile de input */
}

#login-button,
#signup-button {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  background-color: #b0b8ac;
  border: 3px solid #313131;
  color: #313131;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

#login-button:hover,
#signup-button:hover {
  background-color: #535353;
  border-color: #535353;
  color: #cbd4c7;
}

.signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-section p {
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .login {
    width: 90%; /* Ajustat pentru o mai bună responsivitate */
    padding: 20px; /* Redus pentru a economisi spațiu */
  }

  .title {
    font-size: 2.5rem; /* Mărime redusă pentru ecrane mici */
  }

  button,
  input {
    width: 100%; /* Lățime completă pentru accesibilitate pe dispozitive mici */
  }
}
