body {
  display: flex;
  background: linear-gradient(90deg, #535353 0%, #b0b8ac 100%);
}

.signup {
  max-width: 1200px;
  margin: 30px;
  background-color: #313131;
  padding: 30px;
  border-left: 5px solid #8ea38d;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
}

.title {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size:3rem;
  font-weight: 800;
  margin-bottom: 4%;
  margin-left: 12%;
}

.logo-image {
  width: 25%;
  height: auto;
  align-self: center;
}

.stanga {
  margin: 5vw;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 65vw;
  align-self: center;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 70vw;
  margin: auto;
}

input {
  border: 1px solid rgb(83, 83, 83);
  font-size: 1vw;
  font-family: "Raleway", sans-serif;
  width: 40vw;
  min-width: 40vw;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.555);
  padding: 10px;
}

input:focus {
  outline: none;
  background-color: #b0b8ac;
}

p {
  color: #8ea38d;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.3vw;
  text-shadow: 1px 2px 2px rgba(56, 56, 56, 0.507);
  margin: 1rem;
}

.img {
  width: 30px;
  height: 30px;
}

.buttons {
  justify-content: space-evenly;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button {
  font-size: 1.5vw;
  font-family: "Raleway", sans-serif;
  background-color: #b0b8ac;
  border: 3px solid #313131;
  color: #313131;
  width: 14rem;
  height: 4rem;
  cursor: pointer;
  transition: 0.4s;
}

.login-button {
  background-color: #b0b8ac;
  color: #313131;
  margin-top: 0rem;
}

button:hover {
    background-color: #535353;
    border: 3px solid #535353;
    color: #cbd4c7;
}

@media (max-width: 1250px) {
  .signup {
    height: max-content;
  }
}

@media (max-width: 850px) {
  .item {
    flex-direction: column;
  }

  p {
    align-self: self-start;
  }

  .buttons {
    margin-top: 2rem;
  }

  button {
    width: 10rem;
  }

  input {
    width: 60vw;
  }
}

@media (max-width: 450px) {
  .title {
    margin-top: 2rem;
    font-size: var(--font-size-medium);
  }

  input {
    font-size: var(--font-size-small);
  }

  p {
    font-size: var(--font-size-small);
  }

  button {
    font-size: var(--font-size-small);
    width: 8rem;
  }
}
